# Кэш байт-кода Python
__pycache__/
*.py[cod]
*$py.class

# Локальные настройки редакторов и IDE (опционально)
.idea/
.vscode/
*.swp
.DS_Store

# В РЕАЛЬНОМ ПРОЕКТЕ ЗДЕСЬ ОБЯЗАТЕЛЬНО БЫЛ БЫ venv/
# Но по правилам защиты (п.2 требований) папку нужно пушить для проверки.
# venv/
# env/